/***BUG FIXES***/

/******General******/
#page-calendar-event .form-item .form-setting, #page-calendar-event .form-item .form-description, #page-calendar-event .mform .fitem .felement, 
#page-calendar-event #page-mod-forum-search .c1, #page-calendar-event .mform .fdescription.required, #page-calendar-event .userprofile dl.list dd, 
#page-calendar-event .form-horizontal .controls {    margin-left: auto !important;}
#page-calendar-event .form-item .form-label, #page-calendar-event .mform .fitem div.fitemtitle, #page-calendar-event .userprofile dl.list dt, 
#page-calendar-event .form-horizontal .control-label {width: auto !important;}
.feditor {position: relative;z-index: 999;}
.headingblock {font-weight: normal;}
.coursebox>.info>.name, .coursebox .content .teachers, .coursebox .content .courseimage, .coursebox .content .coursefile {width: 100%;}
.coursebox .content .summary, .coursebox .content .coursecat {float: none;width: 100%;}
@-moz-document url-prefix() {* {font-weight: normal !important;}}
/******General from Moodle 2.4 - Need to retest for 2.5+******/
.kaltura-video {padding-top: 34px;clear: both;}/*fixes kaltura plugin video bugs*/
.mymedia .container {width:100%;margin:0}/*fixes my media page layout bugs*/
#region-bs-main, .block {overflow-x:auto;}/*fixes overflow from big tables and long filenames*/
#region-bs-main .tooltip {position: relative;}/*fixes plugin page layout bugs*/
#page-admin-plugins #region-bs-main td {-ms-word-break: break-all;word-break: break-all;word-break: break-word;}/*fixes plugin page layout bugs*/
.maincalendar .header strong {font-weight:normal;}
.path-mod-book .book_toc_bullets li li {list-style: none;}
.curr_manageclusters, span.curr_cluster_instance, td.ygtvcell, td.ygtvtp, td.ygtvcontent {background-color:transparent;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a, .dropdown-submenu:focus>a,
.block_tree li p.active_tree_node a, 
.block_tree li p.active_tree_node a:hover {background-color: transparent;background-image: none;}
.block_tree>li>p>a, .block_tree>li>p>span, .block_tree .nav-header {text-shadow:none;}

/****** Internet Explorer :( ******/

/* Override problematic z-index setting in Clean. Should be reassessed if theme is updated to 2.6. */
.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 100;
}

/* Another force override to get enrol user UI panel to overlap the header. Should be reassessed
if theme is updated to 2.6. */
.user-enroller-panel {
    z-index: 4000;
}

/***END BUG FIXES***/

html {height: 100%;}
body {height: 100%;padding-top: 0px;    background: #111;}
body, p,ul,ol,dl,input,textarea {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-shadow:none;
    color:#333;
    font: 400 16px/24px "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
    font-weight:normal;
}

h1,h2,h3,h4,h5,h6 {font-family: "Oswald", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;font-weight:normal;}
h1, h2, h3 {}
h1 {font-size:38px;}
h2 {font-size:31px;}
h3 {font-size:26px}
a, a:link {
    color:#ad111e;
    -webkit-transition:color .3s linear;  
    -moz-transition:color .3s linear;  
    -o-transition:color .3s linear;  
    -ms-transition:color .3s linear;  
    transition:color .3s linear;  
}
a:hover {
    color:#500b11;
    text-decoration:underline;
}
#layerslider-wrap {
    background: #7d7e7d;
    background: -moz-radial-gradient(center, ellipse cover,  #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
    background: -webkit-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%);
    background: -o-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%);
    background: radial-gradient(ellipse at center,  #7d7e7d 0%,#0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
}
#layerslider-container {
    -moz-box-shadow: 0px 0px 27px 5px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 0px 27px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 27px 5px rgba(0,0,0,.8);
}
    .ls-layer,
    .ls-layer * {
        white-space: nowrap;
        font-weight: normal;
        text-shadow: none;
    }

    .ls-s-1 {
        border-radius: 100px;
        -moz- border-radius: 100px;
        -webkit- border-radius: 100px;
        font-weight: normal;
    }
    .text4, .text5, .text6 {
        background-color: #111;
        background-color: rgba(0,0,0,.7);
    }
    .text4 {
        font-family: 'Alex Brush', Georgia, serif;
        padding: 8px;
        font-size: 34px;
        color: #f5f5f5;
    }
    .text5 {
        padding: 0 13px;
        font-size: 34px;
        color: #f5f5f5;
        font-size: 78px; 
        text-transform: uppercase;
    }
    .text6 {
        font-family: 'Alex Brush', Georgia, serif;
        padding: 8px;
        font-size: 27px;
        color: #f5f5f5;
    }

    .text7,.text8,.text9,.text10 {
        font-size: 21px;
        height:auto;
        width:189px;
        background-color: #ad111e;
        background-color: rgba(173,17,30,.8);
        padding:0px;
        text-transform: uppercase;
        -webkit-border-top-right-radius: 21px;
        -moz-border-radius-topright: 21px;
        border-top-right-radius: 21px;
        -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,.5);
        -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,.5);
        box-shadow: 1px 2px 5px 0px rgba(0,0,0,.5);
    }                
    .text7:hover,.text8:hover,.text9:hover,.text10:hover {
        width:210px;
        text-decoration:none;
        background-color: rgba(0,0,0,.7);
        -webkit-border-top-right-radius: 21px;
        -moz-border-radius-topright: 21px;
        border-top-right-radius: 21px;
        -webkit-transition: background-color .3s linear,width 300ms ease;
        -moz-transition: background-color .3s linear,width 300ms ease;
        -o-transition: background-color .3s linear,width 300ms ease;
        -ms-transition: background-color .3s linear,width 300ms ease;
        transition: background-color .3s linear,width 300ms ease; 
    }                
    .text7 a,.text8 a,.text9 a,.text10 a {
        color: #fff;
        display: block;
        height: 100%;
        width: 100%;
        padding: 13px 0px 10px 13px;
    }            
    .text7 a:hover,.text7 a:active,
    .text8 a:hover,.text8 a:active,
    .text9 a:hover,.text9 a:active,
    .text10 a:hover,.text10 a:active {
        text-decoration:none;
    }            
    #layerslider i {
        padding-right:8px;
        color:#333;
    }            
    #layerslider a:hover i {
        color: #ad111e;
    }
    
#pagewrap {    
    background: #f5f5f5;
    background: -moz-linear-gradient(top,  #eaeaea 0%, #f5f5f5 5%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(5%,#f5f5f5), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top,  #eaeaea 0%,#f5f5f5 5%,#f5f5f5 100%);
    background: -o-linear-gradient(top,  #eaeaea 0%,#f5f5f5 5%,#f5f5f5 100%);
    background: -ms-linear-gradient(top,  #eaeaea 0%,#f5f5f5 5%,#f5f5f5 100%);
    background: linear-gradient(to bottom,  #eaeaea 0%,#f5f5f5 5%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f5f5f5',GradientType=0 );
    -moz-box-shadow: 0px -8px 21px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0px -8px 21px 0 rgba(0,0,0,.3);
    box-shadow: 0px -8px 21px 0 rgba(0,0,0,.3);
    position: relative;
    /* z-index: 99; */ /* Removed to fix a bug turned up during testing of HOSSUP-3495. */
}
.pagelayout-frontpage #pagewrap {    
    border-top: 13px solid #fff;
}
#page {
    position:relative;
    padding-top: 34px;
}
#region-main {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 21px;
}
#logo a {
    z-index:99;
    padding: 0;
    margin: 0 auto;
    float:left;
}

.navbar-fixed-top {
    background: #ad111e;
    background: -moz-linear-gradient(top,  #dd1626 2%, #ad111e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#dd1626), color-stop(100%,#ad111e));
    background: -webkit-linear-gradient(top,  #dd1626 2%,#ad111e 100%);
    background: -o-linear-gradient(top,  #dd1626 2%,#ad111e 100%);
    background: -ms-linear-gradient(top,  #dd1626 2%,#ad111e 100%);
    background: linear-gradient(to bottom,  #dd1626 2%,#ad111e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd1626', endColorstr='#ad111e',GradientType=0 );
    -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,.7);
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,.7);
    position:relative;
    border-bottom: 1px solid #dd1626;
    height: 100px;
}
.navbar-fixed-top .navbar-inner {
    border: none;
    box-shadow: none;
}
.navbar .nav {
    float:right;
}
.navbar .active .nav {
    float:none;
}
.navbar-inner {
    background: transparent;
    filter:none;
    margin-top: 13px;
}
.navbar #social {
    font-size:34px;
    float:right;
    margin:0;
}
.navbar #social li{
    list-style:none;
    float: left;
    margin-left: 5px;
}
.navbar #social a {
    color:#333;
    height:34px;
    width:34px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2), -1px -1px 0px rgba(0,0,0,0.9);
}
.navbar #social a:hover {
    text-decoration:none;
    color:#f5f5f5;
}

.navbar .nav>li>a {
    font-family: "Oswald", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
    font-size: 15px;
    color: #f5f5f5;
    padding: 10px 0 0px 27px;
    text-shadow: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2), -1px -1px 0px rgba(0,0,0,0.9);
}
.navbar .nav>li>a:hover {
    color: #333;
}
.navbar .active .nav>li>a {
    text-shadow: none;
}
.navbar .nav-collapse.active {
    background-color:#111111;    
    border-bottom: 2px solid #ad111e;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #F5F5F5;
    border-top-color: #F5F5F5;
}
.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #111;
    border-top-color: #111;
}
.open>.dropdown-menu {
    overflow-y: visible;
}
.nav-collapse .dropdown-menu a:hover, 
.nav-collapse .dropdown-menu a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #f5f5f5;
    text-shadow:none;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, 
.dropdown-submenu:hover>a, .dropdown-submenu:focus>a, 
.block_tree li p.active_tree_node a, 
.block_tree li p.active_tree_node a:hover {
    background-color: transparent;
    background-image: none;
    color: #ad111e;
}
.navbar .nav.pull-right {
    position: relative;
    clear:right;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2),
                -1px -1px 0px rgba(0,0,0,0.9);
}
.navbar .logininfo {
    color: #f5f5f5;
}
.navbar .logininfo a {
    color: #333;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2),
            -1px -1px 0px rgba(0,0,0,0.9);
}
.navbar .logininfo a  + a {
    color: #f5f5f5;
    font-style: italic;
}
.navbar .logininfo a:hover {
    color: #f5f5f5;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2),
                -1px -1px 0px rgba(0,0,0,0.9);
    text-decoration:underline;
}
.navbar li.profilepic {
    display:none;
}



.block {
    background-color: #fff;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-top:0;
    -webkit-border-radius: 0px 13px 0px 0px;
    -moz-border-radius: 0px 13px 0px 0px;
    border-radius: 0px 13px 0px 0px;
}
.block {
      position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    overflow:visible;        
}
.block:before, .block:after {
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.block:after {
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}
.block .header .title h2, .block h3.main {
    font-family: "Oswald", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
    font-size: 18px;
    letter-spacing:1px;
    color: #f5f5f5;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.9);
    text-transform: uppercase;
    font-weight: normal;
    padding: 15px 0px 8px 13px;
    background-color: #ad111e;
    -webkit-border-radius: 0px 13px 0px 0px;
    -moz-border-radius: 0px 13px 0px 0px;
    border-radius: 0px 13px 0px 0px;
}
.block .content {
    background-color: transparent;
}

.block .header .title h2:before {
    font-family: FontAwesome;
    font-size: 1.2em;
    margin-right: .3em;
    content: "\f0c9";
    color: #333;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2), -1px -1px 0px rgba(0,0,0,0.9);
}
.notloggedin .block_action {
    display:none;
}


.curr_manageclusters, span.curr_cluster_instance, td.ygtvcell, td.ygtvtp, td.ygtvcontent {background-color:transparent;}


.block_calendar_month .header {
    display:none;
}
.block_calendar_month .content {
    padding:0;
}
.block_calendar_month caption {
    background-color: #ad111e;
    -webkit-border-radius: 0px 13px 0px 0px;
    -moz-border-radius: 0px 13px 0px 0px;
    border-radius: 0px 13px 0px 0px;
}
.block_calendar_month  .calendar-controls {
    font-family: "Oswald", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
    font-size: 26px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    padding: 15px 0px 8px 13px;
}
.block_calendar_month .calendar-controls  a {
    color:#f5f5f5;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.9);
}
.block_calendar_month .calendar-controls  a:hover,
.block_calendar_month .calendar-controls  a:active {
    color:#f5f5f5;    
    text-decoration:none;
}
.block_calendar_month .calendar-controls  a.arrow_link {
    color:#333;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2), -1px -1px 0px rgba(0,0,0,0.9);
}
.block_calendar_month .calendar-controls  a.arrow_link:hover,
.block_calendar_month .calendar-controls  a.arrow_link:active{
    color:#f5f5f5;
    text-decoration:none;
}
#inst26 {
    text-shadow:none;
}
#inst26 .content {
    padding:15px;
}
#inst26 .content label {
    margin-bottom:0;
}
#inst26 .username label,#inst26 .password label  {
    color: #111111;
}
#inst26 .rememberusername, #inst26 .footer {display:none;}
#inst26 input[type="text"], #inst26 input[type="password"] {
    background-image: none;
    background-color: rgba(0,0,0,.1);
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #888;
    border-top: 1px solid #888;
    border-radius: 4px;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1);
    color: #111111 ;
    padding: 8px ;
    text-shadow: none;
    font-size: 13px;
    width: 89%;
}
#inst26 div.c1.btn{
    text-align: center;
}
#inst26 div.c1.btn input{
    width: 100%;
}
#inst26 div.c1.btn input[type="submit"]{
    font-family: "Oswald", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
    font-size: 22px;
    color: #111111;
    padding: 13px 15px 10px;
    text-shadow: none;
    text-transform: uppercase;
    margin:0;
    width:61%;
}


#inst18 {
    display:none;
    background-color:transparent;
}
#inst18 .header .title h2 {
    font-family: "Oswald", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
    font-size: 26px;
    color: #111111;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    padding: 15px 0px 8px 13px;
    background:transparent;
    background-image: none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

#region-main {
    background-color: transparent;
}
#page-site-index .headingblock {
    color: #111111;
}
#helpdesk {
    margin-bottom: 21px;
}
.coursebox {
    border:none;
}
.courses .coursebox:hover {
    background:transparent;
}

.coursebox>.info>.name a {
    display: block;
    padding-left: 37px;
    padding-bottom: 2px;
    padding-top: 6px;
    background-image:url([[pix:theme|class-icon-dark]]);
    background-position: center left;
    background-repeat: no-repeat;
}
.courses .coursebox.even {
    background:transparent;
}


#page-footer {
    border-top: 8px solid #ad111e;
    background: #424242;
    background: -moz-linear-gradient(top,  #424242 1%, #0e0e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#424242), color-stop(100%,#0e0e0e));
    background: -webkit-linear-gradient(top,  #424242 1%,#0e0e0e 100%);
    background: -o-linear-gradient(top,  #424242 1%,#0e0e0e 100%);
    background: -ms-linear-gradient(top,  #424242 1%,#0e0e0e 100%);
    background: linear-gradient(to bottom,  #424242 1%,#0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#0e0e0e',GradientType=0 );
    text-align:left;
    position:relative;
    padding: 21px 0 55px 0;
    margin-top:0px;
}
#page-footer a {
    color:#ad111e;
}
#page-footer a:hover {
    color:#fff;
    text-decoration:underline;
}
#page-footer a.brand img  {
    height:auto;
}
#page-footer .navbar-text {
    line-height: inherit;
}
#page-footer ul {
    color:#f5f5f5;
    margin: -8px 0 0 84px;
    text-shadow: none;
}
#page-footer li {
    list-style:none;
}
#page-footer .helplink {
    float: right
}

/* @group Block Icons */


.dir-rtl .collapsed .tree_item.branch:before { 
    content: " \f053";
}

.block_news_items .header .title h2:before {
    content:"\f0a1";
}

.block_navigation .header .title h2:before {
    content:"\f0e8";
}

.block_calendar_upcoming .header .title h2:before,
.block_calendar_month .header .title h2:before {
    content:"\f073";
}

.block_course_list .header .title h2:before {
    content:"\f108";
}

.block_completionstatus .header .title h2:before,
.block_selfcompletion .header .title h2:before {
    content:"\f0e4";
}

.block_rss_client .header .title h2:before {
    content:"\f09e";
}

.block_blog_menu .header .title h2:before {
    content:"\f02d";
}

.block_quiz_results .header .title h2:before {
    content:"\f080";
}

.block_quiz_navblock .header .title h2:before {
    content:"\f126";
}

.block_glossary_random .header .title h2:before {
    content:"\f0eb";
}

.block_book_toc .header .title h2:before {
    content:"\f02d";
}


.block_participants .header .title h2:before,
.block_online_users .header .title h2:before {
    content:"\f0c0";
}

.block_html .header .title h2:before {
    content:"\f022";
}

.block_section_links .header .title h2:before {
    content:"\f02e";
}

.block_activity_modules .header .title h2:before {
    content:"\f12e";
}

.block_comments .header .title h2:before {
    content:"\f075";
}

.block_settings .header .title h2:before {
    content:"\f085";
}

.block_admin_bookmarks .header .title h2:before{
    content:"\f02e";
}

.block_blog_tags .header .title h2:before,
.block_tags .header .title h2:before {
    content:"\f02c";
}

.block_private_files .header .title h2:before {
    content:"\f114";
}

.block_block_mentees .header .title h2:before {
    content:"\f0c0";
}

.block_messages .header .title h2:before {
    content:"\f0e0";
}

.block_community .header .title h2:before {
    content:"\f0ac";
}

.block_login .header .title h2:before {
    content:"\f007";
}

.block_recent_activity .header .title h2:before {
    content:"\f017";
}

.block_search_forums .header .title h2:before {
    content:"\f0e6";
}

.block_myprofile .header .title h2:before {
    content:"\f007";
}

.block_adminblock .header .title h2:before {
    content:"\f009";
}

.block_feedback .header .title h2:before {
    content:"\f087";
}

.block_flickr .header .title h2:before {
    content:"\f03e";
}

.block_youtube .header .title h2:before {
    content:"\f145";
}

.block_course_badges .header .title h2:before {
    content:"\f091";
}

.block_twitter_search .header .title h2:before {
    content:"\f099";
}


/* Large desktop */
@media (min-width: 1200px) {
    .calendartable th {font-size: 15px;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1199px) {
    .calendartable th {font-size: 11px;}
    .block .minicalendar th {font-size: 11px;}
    .profilepic {display:none;}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .calendartable th {font-size: 9px;}
    .block .minicalendar th {font-size: 8px;}
    .profilepic {display:none;}
    .navbar-fixed-top {margin-bottom:0;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .pagelayout-frontpage #page {padding-top: 0px;}
    .maincalendar .header strong {font-size:11px;-ms-word-break: break-all;word-break: break-all;word-break: break-word;}
    .profilepic {display:none;}
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {margin:0;height:auto;}
    #logo a {width: 75%;padding-top:3px;}
    body {padding:0;}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */


}
/**********
iPad 3
**********/
@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */

}

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */

}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}



